@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
    justify-content: center;
    text-align: center;
    margin: 200px;
    background-color: hsl(216, 12%, 8%);
}

.container {
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 50px 40px 50px 15px;
    background-color: hsl(213, 19%, 18%);
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    width: 22%;
    border-radius: 10px;
    font-size: 15px;
    background: linear-gradient(to top, hsl(214, 10%, 13%), hsl(213, 19%, 18%));
    box-shadow: 0 4px 6px rgba(70, 68, 68, 0.1);
    left: 550px;
    bottom: 250px;

    
    
}

.container h2{
    text-align: left;
    margin-left: 13px;
    font-weight: 900;
   
}

svg {
    position: absolute;
    justify-content: center;
    text-align: left;
    left: 35px;
    top: 20px;
    background-color: hsla(206, 5%, 28%, 0.428);
    padding: 10px;
    border-radius: 19px;
}



p {
    color: hsl(217, 12%, 63%);
    text-align: left;
    margin-left: 13px;

}

button {
    margin-left: 20px;
    padding: 6px 13px 6px 13px;
    border-radius: 20px;
    background-color: hsla(206, 5%, 28%, 0.428);
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.submit {
    margin-top: 20px;
    padding: 13px 120px 13px 120px;
    background-color: hsl(25, 97%, 53%);
    font-family: 'Outfit', sans-serif;
    color: white;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight:900;
    
}

.submit:hover {
background-color: white;
color: hsl(25, 97%, 53%);
transition: transform 0.2s ease;
}

a {
    text-decoration: none;
    color: white;
}

.one {
    padding: 7px 15px 7px 15px;
}
 .one:hover {
  transition: transform 0.4s ease;
  background-color:hsl(217, 12%, 63%);
  color: white;

 }
 .two:hover {
    transition: transform 0.4s ease;
    background-color:hsl(217, 12%, 63%);
    color: white;
  
   }
   .three:hover {
    transition: transform 0.4s ease;
    background-color:hsl(217, 12%, 63%);
    color: white;
  
   }
   .four:hover {
    transition: transform 0.4s ease;
    background-color:hsl(217, 12%, 63%);
    color: white;
  
   }
   .five:hover {
    transition: transform 0.4s ease;
    background-color:hsl(217, 12%, 63%);
    color: white;
  
   }

 .attribution {
    position: relative;
    text-align: center;
    top: 390px;
    color: white;
    font: 700;
    font-size: 13px;
    right: -16px;
 }
 
